$black: #000000;
$white: #ffffff;
$orange: #f19d38;

$dark-black: #141920;
$medium-black: #252f3d;
$blue: #007185;
$red: #b12704;

$yellow: #141920;
$dark-yellow: #f2a742;
$yellow-orange: #c45500;
$hover-orange: #b65b22;

$gray: #dddddd;
$dark-gray: #c9cccc;
$disabled-gray: #565959;

$medium-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
$large-shadow: 0px 12px 33px rgba(0, 0, 0, 0.25);
