@font-face {
  font-family: "Amazon Ember Bold";
  src: url("../ember-font/AmazonEmber_Bd.ttf");
}

@font-face {
  font-family: "Amazon Ember Medium";
  src: url("../ember-font/Amazon-Ember-Medium.ttf");
}

@font-face {
  font-family: "Amazon Ember Regular";
  src: url("../ember-font/AmazonEmber_Rg.ttf") format("ttf");
}
