@use "./colors";
@use "./fonts" as fonts;

#container {
  margin-inline: auto;
  width: min(90%, 87.5rem);
}

.amber-meduim {
  font-family: "Amazon Ember Regular", Arial, Helvetica, sans-serif;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-12 {
  font-size: 0.75rem;
}
